
table.dataTable thead .sorting_asc{
    background-image:none;
}
table.dataTable thead .sorting_desc{
    background-image:none;
}
table.dataTable thead .sorting{
    background-image:none;
}

.master_container{
    padding-top: 5%;
}
.navbar-brand {
	background: url("brand-logo.jpg");
	background-size: 50px 40px;
    background-repeat: no-repeat;
	background-position: center; 
}
