
/* Logo Width  */
.page-header.navbar .page-logo .logo-default {
	margin:	 6px 8px 0;
    width: 40px;
}

/* theme setting */
.page-container-bg-solid .theme-panel, .page-content-white .theme-panel{
    margin-top: -4px;
}
